.App {
  
}

.appName{
  margin-top: 50px;
  margin-left:50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color:white;
}

.searchBox{
  width: 300px;
  height:25px;
  border: 1px solid;
  background: #364152;
  box-shadow: 2px rgb(59, 59, 60);
  color:white;

}


body{
  margin:0;
  padding:0;
  background: #1F2937;

}

p{
  width: 100%;
  
  cursor:pointer;
}

